{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true, "decoratorsBeforeExport": true }],
    "react-loadable/babel",
    "react-hot-loader/babel",
    [
      "import",
      {
        "style": true,
        "libraryName": "antd"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react"
  ]
}
