

:global {
  .ant-modal-content {
    border-radius: 0!important;
  }
  .ant-modal-header {
    padding: 10px 24px!important;
    border-radius: 0!important;
    border-color: #eee!important;
  }
  .ant-modal-close-x {
    height: 42px!important;
    line-height: 42px!important;
  }
  .ant-modal-footer {
    border: 0!important;
    border-radius: 0!important;
  }
}