@import '~antd/lib/style/themes/default.less';
// body背景色
@bodyBc: #F2F2F2;

@borderColor: #f6f6f6;
// fontSize
@sizeMini: 12px;
@sizeMiddle: 14px;
@sizeNomal: 16px;
@sizeBig: 18px;
// color
@black: rgba(0, 0, 0, 0.65);

@common-padding: 16px;

// menu
@sider-opened-width: 200px;
@sider-collapsed-width: 50px; // 不要小于30px

// header
@header-height: 50px;

// breadCrumb
@breadCrumb-height: 50px;

// tagBar关闭按钮宽
@closeBtnWidth: 20px;