@import "../asserts/css/vars.less";
@import "../asserts/css/mixins.less";

.tagBar {
  display: table;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  background-color: #fff;
}
.operationBox {
  display: table-cell;
  width: @closeBtnWidth * 2;
  height: @closeBtnWidth * 2;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid @borderColor;
}
.tagList {
  display: table-cell;
  overflow-x: hidden;
  overflow-y: auto;
}
.tag {
  float: left;
  position: relative;
  line-height: @closeBtnWidth * 2;
  max-width: 160px;
  padding: 0 @closeBtnWidth*2 0 15px;
  border-right: 1px solid @borderColor;
  cursor: pointer;
  .ellipsis;
  &:after {
    content: '';
    width: 0%;
    border-top: 1px solid #ada6a0;
    position: absolute;
    left: 0;
    top: 0;
    transition: width ease .4s;
  }
  &:hover,
  &.active {
    background-color: @borderColor;
    &:after {
      width: 100%;
    }
  }
  &.home {
    padding: 0 18px;
  }
}
.tagBtn {
  width: @closeBtnWidth;
  .spanCenter(@closeBtnWidth);
  line-height: @closeBtnWidth + 2;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -@closeBtnWidth/2;
  i {
    font-size: @sizeMini;
    color: #c2c2c2;
    transform: scale(0.7,0.7);
  }
  &.closeBtn:hover {
    border-radius: 50%;
    background-color: #eee;
  }
}